[submodule "value-object/poeaa-value-object"]
	path = value-object/poeaa-value-object
	url = https://github.com/kaiosilveira/poeaa-value-object.git
[submodule "value-object"]
	path = value-object
	url = https://github.com/kaiosilveira/poeaa-value-object.git
[submodule "registry"]
	path = registry
	url = https://github.com/kaiosilveira/poeaa-registry.git
